@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;1,600&family=Dancing+Script:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&family=Spline+Sans:wght@400;500;600;700&family=Wix+Madefor+Display&display=swap');


body{
    font-family: "Spline sans", sans-serif;
    color: #777;
    line-height: 1.7;
}h1,h2,h3,h4,h5,h6{
   font-weight: 600;
   color: #222;

}.nav-link{
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;

}.nav-link:hover{
    color: #F58d17;

}.sticky-top {
   background-color: white;
 
}img{
    width: 100%;
}.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}


section{
  padding-top: 120px;
  padding-bottom: 120px;
}

img{
    min-width: 100%;
}

/* btn */
.btn{
    border-radius: 0;
    padding: 14px 38px;
}.btn-brand{
    color: white;
    font-weight: 500;
    background-color:#F58d17 ;
}.btn-brand:hover{
    border-color: #ca7310;
    background-color: #ca7310;
    color: white;
} .shadow-on-hover{
    transition:all 0.4s;
}.shadow-on-hover:hover{
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}


/* slider */

.slide-1{
    background: linear-gradient(rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.5))
     , url(../images/cover1.jpg);
}.slide-2{
    background: linear-gradient(rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.5))
     , url(../images/cover2.jpg);
}.bg-cover{
    background-position:center ;
}

.carousel-control-next, .carousel-control-prev{
    background-color: rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}#heroSlider h6::after , #heroSlider h6::before{
   content: " ";
   width: 20px;
   height: 4px;
   background-color: #ffffff;
   display: inline-block;
   margin: 10px;
   vertical-align: middle;

}


/* ABOUT */

#about .divider{
    width: 60px;
    height: 2px;
    display: block;
    background-color: #F58d17;
}

/* INTRO TEXT */
.intro-text{
    margin-bottom: 40px;
    text-align: center;
}.intro-text p{
    max-width: 500px;
    margin: 16px auto 0 auto;
}

/* menu */

#menu  .nav-pills .nav-link{
    background-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    color: #222;
    box-shadow: 0 10px 40px  rgba(0, 0, 0, 0.1);
}#menu  .nav-pills .nav-link.active{
    background-color: #F58d17;
    color: #ffffff;
}.menu-items .stars{
    color: #F58d17;
}a{
    text-decoration: none;
    color: #222;
}a:hover{
    color: #F58d17 ;
}




/* features */


#features{
    background: linear-gradient(rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.5))
    , url(../images/cover2.jpg);  
}.feature{
    border: 2px solid  rgba(255, 255, 255, 0.2);
}.feature .feature-icon{
    width: 80px;
    height: 80px;
    background-color: #F58d17;
    color: #fff;
    font-size: 28px;
    display: inline-grid;
    align-content: center;
    text-align: center;
}